*{
    margin: 0px;
    padding: 0px;
    font-family: arial,helvetica,sans-serif,verdana,'Open Sans';
    font-size: 13px;
}

/* Nav bar */

.navbar-default{
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: none;
}

.navbar-default .navbar-brand{
    color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: #aaa;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
    color: #aaa;
}

.navbar-default .navbar-right > li > a:focus, .navbar-default .navbar-right > li > a:hover{
    color: #aaa;
}

.dropdown-toggle,.dropdown-menu{
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}

.dropdown > a:hover{
    color: #fff;
}

.dropdown-menu > li > a{
    color: #fff;
}

.dropdown-menu > li > a:hover{
    background:none;
    color:#aaa;
}

/* Nav bar End */

/*Popup Box Start*/

.popup_wrap{
    /*width: 200px;*/
    position: absolute;
    top: 0%;
    right: 0px;
    z-index: 100;
    display: none;
}

.popup_box{
    color:#fff;
    border: 1px solid #0a0;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}

/*Popup Box end*/

/*User Home Start*/

.container{
    min-width: 1200px;
    width: 1200px;
    padding: 0px;
    position: relative;
}

.dashboard_wrap{
    width: 755px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -357px;
    margin-top: -110px; 

}

.dashboard_icons_wrap{
    padding: 20px;
    display: table;
}

.dashboard_icons_wrap a{
    text-decoration: none;
    color: #333;
}

.dashboard_icons_wrap a:hover{
    color: #666;
}

.dashboard_icons{
    border: 1px solid #333;
    border-radius: 3px;
    width: 158px;
    text-align: center;
    float: left;
    display: table-cell;
    margin-right: 20px;
    padding: 3px 10px;
}

.dashboard_icons:hover{
    border: 1px solid #666;
}

.list_details_wrap{
    width: 1200px;
    margin: 0 auto;
    /*background-color: #ccc;*/
}

.list_details{
    /*background-color: #ccc;*/
}

.thead-dark{
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
    color: #fff;
}

.table{
    border-bottom: 1px solid #e0e0e0;
}

.form_wrap{
    /*background-color: #ccc;*/
    margin-bottom: 20px;
}

.form_wrap table{
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

.form_wrap table tr td:first-child{
    width: 200px;
}

.productImg {
    display:block;
    height:auto;
    width:100px;
    float:left;
}

.productImgLarge {
    display:block;
    height:200px;
    width:auto;
}

.btn-file {
    position:relative;
    overflow:hidden;
    vertical-align: bottom;
}

.btn-file input[type=file] {
    position:absolute;
    top:0;
    right:0;
    min-width:100%;
    min-height:100%;
    font-size:100px;
    text-align:right;
    filter:alpha(opacity=0);
    opacity:0;
    outline:none;
    background:#fff;
    cursor:inherit;
    display:block;
}

/*User Home End*/

/*Pagination Style Member Page*/

.pagination_wrap{
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
}

.pagination li a{
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
    border: 1px solid #222;
    color: #fff;
}

.pagination li a:hover{
    /*background-color: #3A5F0B;*/
    background: #555; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222, #666); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #666); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #666); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #666); /* Standard syntax */
    border: 1px solid #555;
    color:#fff;
}

/*Pagination Style Member Page*/


.footerWrap{
    width: 100%;
    border-top: 5px solid #555;
    padding: 20px; 
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}