*{
    margin: 0px;
    padding: 0px;
    font-family: arial,helvetica,sans-serif,verdana,'Open Sans';
    font-size: 13px;
}

/* Nav bar */

.navbar-default{
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: none;
    margin: 0px;
}

.navbar-default .navbar-brand{
    color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: #aaa;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
    color: #aaa;
}

.navbar-default .navbar-right > li > a:focus, .navbar-default .navbar-right > li > a:hover{
    color: #aaa;
}

.dropdown-toggle,.dropdown-menu{
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}

.dropdown > a:hover{
    color: #fff;
}

.dropdown-menu > li > a{
    color: #fff;
}

.dropdown-menu > li > a:hover{
    background:none;
    color:#aaa;
}

/* Nav bar End */

/*Popup Box Start*/

.popup_wrap{
    position: absolute;
    top: 0%;
    right: 0px;
    z-index: 100;
    display: none;
}

.popup_box{
    color:#fff;
    border: 1px solid #0a0;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}

/*Popup Box end*/

/*User Home Start*/

.container{
    width: 100%;
    height: 600px;
    padding: 0px;
    background-color: #ccc;
}

/*User Home End*/

/*Pagination Style Member Page*/

.pagination_wrap{
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
}

.pagination li a{
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
    border: 1px solid #222;
    color: #fff;
}

.pagination li a:hover{
    /*background-color: #3A5F0B;*/
    background: #555; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222, #666); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #666); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #666); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #666); /* Standard syntax */
    border: 1px solid #555;
    color:#fff;
}

/*Pagination Style Member Page*/


/*Footer Style*/
.footerWrap{
    width: 100%;
    margin: 0 auto;
    border-top: 5px solid #555;
    height: 250px;
    padding-top: 30px; 
    position: fixed;
    bottom: 0;
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}

.footerLinkWrap{
    display: table;
}

.footerLink:first-child{
    border-left: 0px;
    width: 350px;
}

.footerLink{
    display: table-cell;
    padding: 20px 0px 0px 20px; 
    height: 200px;
    width: 180px;
    float: left;
    color: #fff;
    border-left: 1px solid #fff; 
}

.footerLink ul{
    list-style: none;
}

.footerLink li{
    height: 25px;
    margin-bottom: 10px;
}

.footerLink a{
    color: #fff;
    text-decoration: none;
}

.footerLink a:hover{
    text-decoration: underline;
}

.footerIcon{
    padding: 9px 35px;
}

.fb{
    background: url(../images/socialMedia/fb.png) left center no-repeat;
}

.tw{
    background: url(../images/socialMedia/tw.png) left center no-repeat;
}

.in{
    background: url(../images/socialMedia/in.png) left center no-repeat;
}

.gp{
    background: url(../images/socialMedia/gp.png) left center no-repeat;
}

/*Footer Style*/