*{
    margin: 0px;
    padding: 0px;
    font-family: arial,helvetica,sans-serif,verdana,'Open Sans';
    font-size: 13px;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000; 
}


/*Start of Header Section*/
.header{
    height: 262px;
    min-width: 1200px;
    width: 1200px;
    position: relative;
    background: url('../images/banner.jpg') no-repeat right top;
    margin: 0px auto;
}

.menu {
    position: absolute;
    left:0;
    right:0;
    bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}

.menu ul li{
    list-style: none;
    float: left;
}

.menu ul li:hover{
    background: #555; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222, #666); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #666); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #666); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #666); /* Standard syntax */
}

.menu_ul > a:first-child li{
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.menu ul a li{
    text-decoration: none;
    padding: 17px 30px;
    color:#fff;
}

.menu > ul > li > a{
    color:#fff;
    padding: 17px 30px;
    display: block;
}

.menu ul li a:hover{
    text-decoration: none;
}

.menu_list{
    border-top: 1px solid #555;
    height: auto;
    padding: 0px;
    width: 170px;
    display: none;
    position:absolute;
    margin-top: 0px;
    z-index: 100;
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}

.menu_list div{
    border: none;
}

.menu_list a{
    outline: 0px;
    display: block;
    padding: 10px 20px 10px 20px;
    text-align: left;
    text-decoration: none;
    color: #fff;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
}

.menu_list a:hover{
    background: #555; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222, #666); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #666); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #666); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #666); /* Standard syntax */
}
/*End of Header Section*/

/*Start of index page body*/
.container{
    min-width: 1200px;
    width: 1200px;
    padding: 0px;
    position: relative;
}

.search_area{
    margin: 0 10px;
    float: right;
    display: table;
}

.search_box{
    /*width: 1130px;*/
    width: 250px;
    float: left;
    display: table-cell;
    border-radius: 3px 0 0 3px;
    border-right: none;
}

.search_btn{
    float: right;
    display: table-cell;
    border-radius: 0 3px 3px 0;
}

.search_area_dropdown{
    margin-top: 15px;
    /*float: right;*/
    width: 100%;
    display: table;
    /*background-color: #ccc;*/
}


.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.custom-dropdown select{
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 6px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-appearance: none;
    -webkit-appearance:none;
    appearance: none;
    width: 125px;
}

.custom-dropdown  select::-ms-expand {
    display: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    font-size: .8em;
    line-height: .2em;
    right: .7em;
    top: 50%;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 0 3px 3px 0;
    background-color: rgba(255,255,255,1);
}

.custom-dropdown::after {
    color: rgba(0,0,0,.6);
}

.custom-dropdown select[disabled] {
    color: rgba(0,0,0,.25);
}

.caption h4 a{
    padding: 5px 0px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.caption h4 a:hover{
    text-decoration: underline;
}

.product_title{
    height: 65px;
}

.product_offer{
    height: 55px;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    color: #ff884e;
}

.product_offer i{
    font-size: 15px;
}


.price_btn p{ /* remove this*/
    font-size: 20px;
    font-weight: bold;
}


.thumbnail a>img{
    display:block;
    width:auto;
    height:225px;
}

.list_details_wrap{
    width: 1200px;
    margin: 0 auto;
}

.thead-dark{
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
    color: #fff;
}

.table{
    border-bottom: 1px solid #e0e0e0;
}

.form_wrap{
    margin-bottom: 20px;
}

.form_wrap table{
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

.form_wrap table tr td:first-child{
    width: 200px;
}

/*Popup Box Start*/

.popup_wrap{
    /*width: 200px;*/
    position: absolute;
    top: 0%;
    right: 0px;
    z-index: 100;
    display: none;
}

.popup_box{
    color:#fff;
    border: 1px solid #0a0;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}

/*Popup Box end*/

/*End of index page body*/

/*Pagination Style User Page*/

.pagination_wrap{
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
}

.pagination li a{
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
    border: 1px solid #222;
    color: #fff;
}

.pagination li a:hover{
    /*background-color: #3A5F0B;*/
    background: #555; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222, #666); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #666); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #666); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #666); /* Standard syntax */
    border: 1px solid #555;
    color:#fff;
}

/*Pagination Style User Page*/


/*Details Page Style*/

.showDetailsWrap{
    /*height: 200px;*/
    /*background-color: #ccc;*/
    display: table;
    width: 1200px;
    min-width: 1200px;
    padding-bottom: 20px;

}

.breadcrumb{
    border-radius: 0px;
    border-bottom: 1px solid #eee;
    /*height: 60px;*/
    padding: 15px 10px;
    background: none;
}

.showDetailsImage{
    display: table-cell;
    float: left;
    width: 350px;
    padding: 5px;
    /*background-color: #555;*/
}

.showDetailsImage > #image_main_preview > img{
    width: 340px;
}

.images_wrapper{
    margin: 10px auto;
    display: table;
    background-color: #aaa;
}

.images_icons{
    width: 42px;
    display: table-cell;
    float:left;
    padding:1px;
    background-color: #ccc;
    cursor: pointer;
}

.showDetailsItem{
    display: table-cell;
    float: left;
    width: 830px;
    /*background-color: #888;*/
    margin-left: 20px;
}

.showDetailsBtnWrap{
    display: table;
    /*background-color: #ff884e;*/
}

.showDetailsBtn{
    width: 100px;
    padding: 10px;
    text-align: center;
    color: #666;
    float: left;
    display: table-cell;
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
    border: 1px solid #222;
    border-bottom: none;
    color: #fff;
}

.showDetailsBtnWrap > a:first-child > div {
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.showDetailsBtnWrap > a:last-child > div{
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.showDetailsBtn:hover{
    background: #555; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222, #666); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #666); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #666); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #666); /* Standard syntax */
    border: 1px solid #555;
    border-bottom: none;
}

.item_details{
    /*height: 386px;  update this as per need*/
    /*border: 1px solid #222;*/
    /*background-color: #f0f0f0;*/
    color: #eee;
    display: none;
    padding: 10px;
    border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}

.item_details table{
    width: 100%;
}

.reviewWrap{
    height: 365px; /* update this as per need*/
    overflow-y: auto;
    overflow-x: no-content;
    padding-right: 10px;
}

.reviewBox{
    padding: 10px;
    margin-bottom: 10px;
    /*border: 1px solid #666;*/
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #f0f0f0;
    color:#333; 
}

.review{
    /*background-color: #fff;*/
    padding: 10px;
}

.reviewBidWrap{
    display: table;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.reviewBidBox{

    display: table-cell;
    /*background-color: #ccc;*/
    width: 600px;
    float:left;
    padding: 20px;
    /*height: 200px;*/
}

.reviewBidBox .table{
    width: 100%;
}

.reviewBidBox .table td{
    vertical-align: middle;
}

/*Details Page Style*/

/*Footer Style*/
.footerWrap{
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    border-top: 5px solid #555;
    height: 250px;
    padding-top: 30px; 
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #444); /* Standard syntax */
}

.footerLinkWrap{
    display: table;
}

.footerLink:first-child{
    border-left: 0px;
    width: 350px;
}

.footerLink{
    display: table-cell;
    padding: 20px 0px 0px 20px; 
    height: 200px;
    width: 180px;
    float: left;
    color: #fff;
    border-left: 1px solid #fff; 
}

.footerLink ul{
    list-style: none;
}

.footerLink li{
    height: 25px;
    margin-bottom: 10px;
}

.footerLink a{
    color: #fff;
    text-decoration: none;
}

.footerLink a:hover{
    text-decoration: underline;
}

.footerIcon{
    padding: 9px 35px;
}

.fb{
    background: url(../images/socialMedia/fb.png) left center no-repeat;
}

.tw{
    background: url(../images/socialMedia/tw.png) left center no-repeat;
}

.in{
    background: url(../images/socialMedia/in.png) left center no-repeat;
}

.gp{
    background: url(../images/socialMedia/gp.png) left center no-repeat;
}

/*Footer Style*/