*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 13px;
    /*font-size: .95vw;*/
}

hr{
    display: block;
    border: 1px solid #5b9bc6;
    padding: 0;
}

/* Nav bar */

.menu_wrap{
    background-color: #00592e;
    display: table;
    width: 100%;
}

.logo{
    float: left;
}

.logo a{
    font-size: 28px;
    padding: 5px 5px;
    display: table-cell;
    text-decoration: none;
    color: #fff;
}

.logo_text{
    font-size: 20px;
    color: #fff;
}

.menu > ul{
    list-style: none;
}

.menu > ul > li > a{
    float: left;
    display: table-cell;
    color: #fff;
    text-decoration: none;
    padding: 17px 20px;
}

.menu > ul > li > a:hover{
    background-color: #b4d2e0;
    color: #333;
}

.menu > ul > li > a:focus{
    outline: none;
}


.dropdown-menu-li{
    position: relative;
    float: left;
    display: table;
}

.dropdown-menu-li ul{
    list-style: none;
    background-color: #b4d2e0;
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
    width: auto;
    white-space: nowrap;
    z-index: 2;
}

#side_drp_list > li > a{
    text-decoration: none;
    color: #333;
    display: table-cell;
    padding: 10px;
    width: 180px;
}

#side_drp_list > li > a:hover{
    background-color: #5b9bc6;
    color: #333;
    outline: none;
}
/* Nav bar End */

.content_wrap{
    display: table;
    width: 99%;
    margin: .5%;
}

/*silder start*/

.slider_wrap{
    background-color: #5b9bc6;
    width: 99.4%;
    padding: 4px 4px 0px 4px;
    margin-bottom: .5%;
}

/*silder end*/

/*routes start*/
.routes{
    background-color: #b4d2e0;
    width: 100%;
    margin-bottom: .5%;
    display: table;
}

.routes h2{
    font-size: 24px;
    padding: 10px;
}

.routes table{
    width: 100%;

}

.routes table th{
    text-align: left;
    padding: 10px;
}

.routes table td{
    padding: 10px;
}

.tbl_travel_agency th{
    background-color: #00592e;
    color: #fff;
}

.tbl_travel_agency td{
    background-color: #fff;
}

.route_form table{
    width: 100%;
    border-collapse: collapse;
    float: left;
}

.route_form table th{
    text-align: left;
    padding: 10px;
}

.route_form table td{
    padding: 10px;
}

.form-elements{
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #5b9bc6;
    box-sizing: border-box;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.avail_popular_wrap{
    display: table;
    width: 100%;
    background-color: #b4d2e0;
}

.avail_popular{
    float:left;
    display: table-cell;
    width: 49.25%;
    margin-left: .5%;
}

.avail_popular:last-child{
    float: right;
    margin-right: .5%;
}

.avail_popular h2{
    font-size: 24px;
    padding: 10px;
}

.avail_popular table th{
    text-align: left;
    padding: 10px;
}

.avail_popular table td{
    padding: 10px;
}

.avail_popular tr:hover{
    cursor: pointer;
}

.avail_popular tr th:hover{
    cursor: auto;
}

.btn_submit {
    background-color: #00592e;
    border: 1px solid #00492e;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.btn_submit:hover{
    background-color: #00492e;
    border: 1px solid #00592e;
    cursor: pointer;
}

.clickable-row{
    cursor: pointer;
}

.clickable-row:hover{
    background-color: #b4d2e0;
}

/*routes end*/

/*show buses start*/

.bus_search_wrap{
    width: 100%;
}

.bus_search_wrap h1{
    padding: 10px;
    font-size: 24px;
}

.bus_search_table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #5b9bc6;
}

.bus_search_table th{
    text-align: left;
    padding: 10px;
    border: 1px solid #5b9bc6;
    background-color: #00592e;
    color: #fff;
}

.bus_search_table td{
    padding: 10px;
    border: 1px solid #5b9bc6;
    background-color: #fff;
}

/*show buses end*/

/*seat start*/

.seat_layout{
    background-color: #fff;
    float: left;
    width: 49.5%;
    margin-right: .5%;
}

.seat_layout table{
    width: 100%;
}

#bus_details{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #5b9bc6;  
}

#bus_details th, #bus_details td{
    padding: 5px 10px;
    border: 1px solid #5b9bc6;
}

#bus_details th{
    text-align: left;
    background-color: #00592e;
    color: #fff;
}

.seat_table td {
    width: 60px;
    height: 60px;
    position: relative;
    font-weight: bold;
    text-align: center;
    border: 1px solid #5b9bc6;
}

.seat_table td:after {
    display: block;
    margin-top: 100%;
}

.seat_image{
    background: url("../images/icons/seat.png") no-repeat;
    padding: 5px 0; 
    text-align: right;
    vertical-align: top;
}

.click_seat{
    cursor: pointer;
}

.click_seat:hover{
    background-color: #b4d2e0;
}

/*seat end*/

/*confirm_seat start*/

.form_table {
    border-spacing: 5px;
}

.form_table th{
    text-align: left;
    /*width: 15%;*/
}

/*confirm_seat end*/


/*site_intro start*/

/*.site_intro_wrap{
    width: 100%;
    background-color: #b4d2e0;
    margin-bottom: .5%;
}

.site_intro_content_wrap{
    padding: 0 1px 1px 1px;
}

.site_intro_header{
    padding: 10px;
    background-color: #00592e;
    font-weight: bold;
    color: #fff;
}

.site_intro{
    background-color: #fff;
    padding: 10px;
}*/
/*site_intro end*/

/*Footer Style*/
.footerWrap{
    width: 100%;
    border-top: 5px solid #27637f;
    padding: 30px 0px; 
    background: #00592e; 
}

.footerLinkWrap{
    display: table;
    /*background-color: #777;*/
    margin: 0 auto;

}

.footerLink:first-child{
    border-left: 0px;
    width: 350px;
}

.footerLink{
    display: table-cell;
    padding: 20px 0px 0px 20px; 
    height: 180px;
    width: 180px;
    float: left;
    color: #fff;
    border-left: 1px solid #fff; 
}

.footerLink ul{
    list-style: none;
}

.footerLink li{
    height: 25px;
    margin-bottom: 10px;
}

.footerLink a{
    color: #fff;
    text-decoration: none;
}

.footerLink a:hover{
    text-decoration: underline;
}

.footerIcon{
    padding: 9px 35px;
}

.fb{
    background: url(../images/socialMedia/fb.png) left center no-repeat;
}

.tw{
    background: url(../images/socialMedia/tw.png) left center no-repeat;
}

.in{
    background: url(../images/socialMedia/in.png) left center no-repeat;
}

.gp{
    background: url(../images/socialMedia/gp.png) left center no-repeat;
}

/*Footer Style*/

/*overriding page printing*/

/*@media print
{
    .menu_wrap {display:none;}
}

@media print
{
    .footerWrap {display:none;}
}

@media print
{
    .btn_submit {display:none;}
}*/


/*Search box*/
.search_area{
    margin: 0 10px;
    float: right;
    /*background-color: #ccc;*/
    padding: 8px 0;
}

.search_box{
    width: 180px;
    border-radius: 3px 0 0 3px;
    border-right: none;
    background-color: #fff;
    color: #333;
    border-color: #00592e;
}

.search_btn{
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0 3px 3px 0;
    /*background-color: #b4d2e0;*/
    /*border-color: #b4d2e0;*/
    background-color: #fff;
    color: #333;

}

.search_btn:hover{
    background-color: #b4d2e0;
    color: #333;
}

.export_btn_wrap{
    display: table;
    width: 100%;
}

.export_btn{
    display: table-cell;
    float: right;
    text-align: right; 
    padding: 5px;
    border-radius: 5px;
    background-color: #00592e;
}

.export_btn:hover{
    background-color: #b4d2e0;
}