@media screen and (max-width: 980px) {
    * {
        font-size: 8px;
    }

    /*slider*/
    .slider_wrap {
        width: 99.4%;
    }

    .dot {
        height: 8px;
        width: 8px;
    }

    /*slider*/
    /*menu*/
    .menu_wrap ul {
        display: none;
    }

    .menu_wrap form {
        display: none;
    }

    .shrinked_menu {
        display: block;
        padding-top: 4px;
        float: right;
    }

    .shrinked_menu button {
        padding: 5px 10px;
        color: #fff;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background-color: #3c3e87;
        border: 1px solid #2559a7;

    }

    .shrinked_menu button:hover,
    .shrinked_menu button:focus,
    .shrinked_menu button:active{
        border: 1px solid #27637f;
        background-color: #062c33;
        outline: none;
    }

    .shrinked_menu button::-moz-focus-inner {border:0;}



    .mobile_menu {
        display: none;
        width: 100%;
        background-color: #444;
    }

    .mobile_menu ul{
        list-style: none;
    }

    .mobile_menu li{
        display: block;
    }

    .mobile_menu ul li a{
        text-decoration: none;
        color: #fff;
        background-color: #001230;
        width: 100%;
        display: block;
        padding: 10px;
        box-sizing: border-box;
    }

    .mobile_menu ul li a:hover,
    .mobile_menu ul li a:active,
    .mobile_menu ul li a:focus{
        background-color: #b4d2e0;
        color: #333;
        outline: none;
    }

    /*menu*/

    /*footer*/
    .footerLink:first-child {
        border: none;
        width: 100%;
        text-align: center;
    }

    .footerLink {
        display: table-cell;
        padding: 20px 20px;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        color: #fff;
        border: none;
        border-top: 1px solid #ccc;
    }

    .footerLink li {
        height: 15px;
        margin-bottom: 10px;
    }

    .footerLink:last-child li {
        height: 25px;
        margin-bottom: 10px;
    }

    .footerIcon {
        padding: 15px 35px;
    }

    /*footer*/
}